* {
  box-sizing: border-box;
}

body {
  background-color: darkorange;
}

header {
  font-size: 80px;
  font-weight: bolder;
  color: darkblue;
  text-align: center;
  background-color: lightslategray;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
  margin: auto;
  height: 800px;
  width: 50%;
  border: 20px solid lightgray;
  margin-top: 20px;
  background-color: lightgray;
  color: darkblue;
}

#begin {
  text-align: center;
  font-size: 20px;
}
